/* Agrega estilos según tus necesidades */
.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #cc006d;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: beige;
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    text-align: left;
    border: none;
    background-color: #152874;
    cursor: pointer;
    
}

.dropdown-content button:hover {
    background-color: #535bf2;
    color: #cc006d;
}